body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  background-color: aliceblue;
  padding: 20px;
  margin:0;
}

 h1 {
  font-size: 2rem;
  color: rgb(56, 58, 70);
  margin-bottom: 10px;
  text-shadow:2px 2px 0 white;
  font-weight: 500;
}


form {
  margin: 20px auto;
  padding: 15px;
  width: 300px;
  background-color: white;
  border-radius: 15px;
}

form label {
  font-size: 1rem;
  display:block;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
}

form input{
  width: 80%;
  padding: 8px;
  font-size: 1rem;
  border: 2px solid #e6b803;
  border-radius: 8px;
  margin-bottom: 10px;
}

form button {
  padding: 10px 20px;
  font-size: 1rem;
  background: linear-gradient(45deg, #ffcc00, #ff8c00);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

form button:hover {
  background: linear-gradient(45deg, #ff8c00, #ffcc00);
}

h2 {
  font-size: 1.5rem;
  color: rgb(56, 58, 70);
  margin-bottom: 10px;
}

#pokemonCard {
  margin: 20px auto;
  padding: 20px;
  width: 350px;
  background-color: #fff;
  border: 2px dashed #ffcc00;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#pokemonCard img {
  width: 200px;
  height: auto;
  margin: 10px 0;
}


table {
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table thead {
  background-color: #ffcc00;
}

table thead th {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
}

table tbody td {
  padding: 10px;
  font-size: 0.9rem;
  border-bottom: 1px solid #ddd;
}

